.closed{
    background: #ccc;
}
.flex-container{
    display: flex;
    max-width: 95%;
    margin: 15px auto;
    justify-content: space-between;
}

.flex-container .form-select{
height: 38px;
width: 49%;
}
.table-striped>tbody>tr:nth-of-type(odd) {
    --bs-table-accent-bg: transparent !important;
    color: var(--bs-table-striped-color);
}
